$color-white: #ffffff;
$color-spindle: #B6D7EE;
$color-bahama-blue: #00648F;
$color-orient: #005481;
$color-prussian-blue: #00345C;
$color-danube: #79B3D7;
$color-galliano: #D8A904;
$color-lightning-yellow:#FFC014;
$color-black: rgba(0, 0, 0, 0.9);

$m-font-regular: 'Montserrat Regular';
$m-font-medium: 'Montserrat Medium';
$m-font-semi: 'Montserrat Semi-bold';
$m-font-bold: 'Montserrat Bold';
$m-font-extra: 'Montserrat Extra-bold';