.contacts {
    position: relative;

    &__bg-image {
        position: absolute;
        z-index: -1;
    }

    &__block {
        padding-top: 400px;

        @media (max-width: 1450px) {
            padding-top: 280px;
        }

        @media (max-width: 1200px) {
            padding-top: 220px;
        }

        @media (max-width: 992px) {
            padding-top: 170px;
        }

        @media (max-width: 850px) {
            padding-top: 135px;
        }

        @media (max-width: 767px) {
            padding-top: 115px;
        }

        @media (max-width:550px) {
            padding-top: 70px;
        }
    }

    &__heading {
        margin-bottom: 70px;

        @media (max-width: 992px) {
            margin-bottom: 50px;
        }

        @media (max-width:650px) {
            margin-bottom: 10px;
        }
    }
}